@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

// Colores
$primary-color: #fc560c;
$secondary-color: #9645fa;
$tertiary-color: #16191e;
$fourth-color: #2a2e37;
$default-color: #000;
$default-secondary-color: #e9efe1;

//fonts
$chakraPetch-font:"Chakra Petch", sans-serif;

